@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: "DejaVuSans";
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; 
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:focus {
    cursor: pointer;
    outline: none;
}

input:focus, input:hover {
    outline: none;
}

li {
    list-style-type: none;
}

li:focus {
    outline: none;
}

.header {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header-menu {
    width: 90%;
    height: 63px;
}

.header-menu__row {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    z-index: 1;
}

.header-menu__row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #323232;
    z-index: -1;
}

.header-menu__row::after {
    content: ''; 
    position: absolute; 
    left: 46.6%;
    bottom: -71px; 
    border: 45px solid transparent;
    border-top: 26px solid #323232;
}

.header-menu__row-nav ul {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: flex-end;
    height: 74px;
    width: 410px;
    border-bottom: 1px solid #e4e9eb;
    margin: 0 36px;
}

.header-menu__row-nav ul:last-child {
    justify-content: flex-start; 
}

.header-menu__row-nav ul li {
    padding: 30px 0 0;
    font-family: 'DejaVuSans', sans-serif;
    font-size: 10px;
}

.header-menu__row-nav ul li:first-child {
    margin-right: 25px;
}

.header-menu__row-nav ul li+li {
    list-style-type: disc;
    color: #484c5f;
}

.header-menu__row-nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease 0.1s;
}

.header-menu__row-nav ul li a:hover {
    color: #2fa68d;
}

.header-menu__row-logo {
    height: 100%;
    margin-top: 10px;
    margin-right: 2px;
}

.hexagons {
    margin-left: 10px;
}

.hexagon-grid {
    overflow: hidden;
    width: 988px;
    margin: 80px auto;
    padding:0.707% 0;
}

.hexagon-grid:after {
    content: "";
    display: block;
    clear: both;
}

.hexagon-grid li {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
}

.hexagon-grid li * {
    position: absolute;
    visibility: visible;
}

.hexagon-grid li img {
    display:block;
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
}

@media (min-width:1201px) {
    .hexagon-grid li {
        width: 18.2%; 
        padding-bottom: 20.92%;
    }
    .hexagon-grid li:nth-child(9n+1),
    .hexagon-grid li:nth-child(9n+2),
    .hexagon-grid li:nth-child(9n+3),
    .hexagon-grid li:nth-child(9n+4) {
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hexagon-grid li:nth-child(9n+5):last-child,
    .hexagon-grid li:nth-child(9n+6):last-child,
    .hexagon-grid li:nth-child(9n+7):last-child,
    .hexagon-grid li:nth-child(9n+8):last-child,
    .hexagon-grid li:nth-child(9n+9):last-child {
        margin-bottom: 0;
    }
    .hexagon-grid li:nth-child(9n+5) {
        clear: left;
    }
    .hexagon-grid li:nth-child(9n+1),
    .hexagon-grid li:nth-child(9n+10) {
        margin-left: 1%;
        clear: left;
    }
    .hexagon-grid li:nth-child(9n+2),
    .hexagon-grid li:nth-child(9n+6),
    .hexagon-grid li:nth-child(9n+8) {
        margin-left: 1.95%;
        margin-right: 1.95%;
    }
    .hexagon-grid li:nth-child(9n+3) {
        margin-right: 1.95%;
    }
    .hexagon-grid li:nth-child(9n+5),
    .hexagon-grid li:nth-child(9n+6),
    .hexagon-grid li:nth-child(9n+7),
    .hexagon-grid li:nth-child(9n+8),
    .hexagon-grid li:nth-child(9n+9) {
        margin-top: -3.676%;
        margin-bottom: -3.676%;
    }
}

@media (max-width: 1200px) and (min-width:901px) {
    .hexagon-grid li {
        width: 24.25%;
        padding-bottom: 28.001%;
    }
    .hexagon-grid li:nth-child(7n+5),
    .hexagon-grid li:nth-child(7n+6),
    .hexagon-grid li:nth-child(7n+7) {
        margin-top: -6.134%;
        margin-bottom: -6.134%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hexagon-grid li:nth-child(7n+5):last-child,
    .hexagon-grid li:nth-child(7n+6):last-child,
    .hexagon-grid li:nth-child(7n+7):last-child {
        margin-bottom: 0;
    }
    .hexagon-grid li:nth-child(7n+2),
    .hexagon-grid li:nth-child(7n+6) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hexagon-grid li:nth-child(7n+3) {
        margin-right: 1%;
    }
    .hexagon-grid li:nth-child(7n+8) {
        clear: left;
    }
    .hexagon-grid li:nth-child(7n+5) {
        clear: left;
        margin-left: 0.5%;
    }
}

@media (max-width: 900px) and (min-width:601px) {
    .hexagon-grid li {
        width: 32.666%;
        padding-bottom: 37.720%;
    }
    .hexagon-grid li:nth-child(5n+4),
    .hexagon-grid li:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hexagon-grid li:nth-child(5n+4):last-child,
    .hexagon-grid li:nth-child(5n+5):last-child {
        margin-bottom: 0;
    }
    .hexagon-grid li:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%;
    }
    .hexagon-grid li:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hexagon-grid li:nth-child(5n+6) {
        clear: left;
    }
}

@media (max-width: 600px) {
    .hexagon-grid li {
        width: 49.5%;
        padding-bottom: 57.158%;
    }
    .hexagon-grid li:nth-child(3n+3) {
        margin-top: -13.423%;
        margin-bottom: -13.423%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hexagon-grid li:nth-child(3n+3):last-child {
        margin-bottom: 0;
    }
    .hexagon-grid li:nth-child(3n+3) {
        margin-left: 0.5%;
    }
    .hexagon-grid li:nth-child(3n+2) {
        margin-left: 1%;
    }
    .hexagon-grid li:nth-child(3n+4) {
        clear: left;
    }
}

.about {
    margin-top: -35px;
}

.slider {
    max-width: 1020px;
    margin: 0 auto;
}

.slider-point {
    display: flex;
    margin: 0 30px;
}

.slider-point div {
    width: 6px;
    height: 6px;
    margin-right: 3px;
    background-color: #ddd2c5;
}

.slider-line {
    width: 95%;
    height: 0;
    margin: 11px auto;
    border-bottom: 1px solid #e4e9eb;
}

.slider-block {
    width: 100%;
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2eb398;
}

.slider-case {
    width: 820px;
    height: 316px;
    border-right: 1px solid #219d84;
    border-left: 1px solid #219d84;

}

.about-photo {
    margin-top: 57px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.hexagon {
    position: relative;
    width: 180px; 
    height: 103.92px;
    margin: 51.96px 0;
    background-image: url('./assets/images/photo.png');
    background-size: auto 207.846px;
    background-position: center;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 127.28px;
    height: 127.28px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 26.36px;
}

.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 180px;
    height: 103.92px;
    -webkit-transform:  rotate(45deg) scaleY(1.732) translateY(-51.9615px);
    -ms-transform:      rotate(45deg) scaleY(1.732) translateY(-51.9615px);
    transform:          rotate(45deg) scaleY(1.732) translateY(-51.9615px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -63.64px;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -63.64px;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 180px;
    height: 103.92px;
    z-index: 2;
    background: inherit;
}

.about-text{
    width: 100%;
    margin-top: 50px;
    z-index: 1;
}

.about-text p {
    font-family: 'Lato', sans-serif;
    font-size: 9pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    line-height: 16pt;
    margin-top: 11px;
    margin-right: 20px;
}

.about-text h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 22pt;
    color: rgba(215, 252, 245, 255);
    font-weight: 400;
    text-align: justify;
}

.about-text h3 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
}