@font-face {
    font-family: "DejaVuSans";
    src: url("./assets/fonts/DejaVuSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; 
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:focus {
    cursor: pointer;
    outline: none;
}

input:focus, input:hover {
    outline: none;
}

li {
    list-style-type: none;
}

li:focus {
    outline: none;
}

.header {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header-menu {
    width: 90%;
    height: 63px;
}

.header-menu__row {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    z-index: 1;
}

.header-menu__row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #323232;
    z-index: -1;
}

.header-menu__row::after {
    content: ''; 
    position: absolute; 
    left: 46.6%;
    bottom: -71px; 
    border: 45px solid transparent;
    border-top: 26px solid #323232;
}

.header-menu__row-nav ul {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: flex-end;
    height: 74px;
    width: 410px;
    border-bottom: 1px solid #e4e9eb;
    margin: 0 36px;
}

.header-menu__row-nav ul:last-child {
    justify-content: flex-start; 
}

.header-menu__row-nav ul li {
    padding: 30px 0 0;
    font-family: 'DejaVuSans', sans-serif;
    font-size: 10px;
}

.header-menu__row-nav ul li:first-child {
    margin-right: 25px;
}

.header-menu__row-nav ul li+li {
    list-style-type: disc;
    color: #484c5f;
}

.header-menu__row-nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease 0.1s;
}

.header-menu__row-nav ul li a:hover {
    color: #2fa68d;
}

.header-menu__row-logo {
    height: 100%;
    margin-top: 10px;
    margin-right: 2px;
}
